Repository youvegotmoxie/weatherapi-exporter, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, helm, code

.github/labeler.yml:

repo:
- '*'
helm:
- helm/**/*
code:
- docker/**/*

trivial
  .github/workflows/build.yaml
Labels: none

trivial
  README.md
Labels: repo

trivial
  .github/workflows/build.yaml
Labels: none

Automated Change
  helm/wapi/Chart.yaml
  helm/wapi/values.yaml
Labels: helm

add optional raw json output
  .github/workflows/build.yaml
  docker/src/__pycache__/app.cpython-310.pyc
  docker/src/app.py
  helm/wapi/Chart.yaml
Labels: helm, code

trivial
  .gitignore
  docker/src/__pycache__/app.cpython-310.pyc
Labels: repo, code

trivial
  docker/src/app.py
Labels: code

Automated Change
  helm/wapi/Chart.yaml
  helm/wapi/values.yaml
Labels: helm

add barometric pressure metric
  .github/workflows/build.yaml
  docker/src/app.py
Labels: code

trivial
  helm/wapi/Chart.yaml
Labels: helm

add cloud cover metric
  docker/src/app.py
Labels: code

Automated Change
  helm/wapi/Chart.yaml
  helm/wapi/values.yaml
Labels: helm

trivial
  .github/workflows/build.yaml
  helm/wapi/Chart.yaml
Labels: helm

Automated Change
  helm/wapi/Chart.yaml
  helm/wapi/values.yaml
Labels: helm

add pod security contexts
  helm/wapi/Chart.yaml
  helm/wapi/values.yaml
Labels: helm

trivial
  helm/wapi/Chart.yaml
  helm/wapi/values.yaml
Labels: helm

trivial
  docker/src/app.py
Labels: code

convert api response to named tuple into object
  .github/workflows/build.yaml
  docker/src/app.py
  helm/wapi/Chart.yaml
Labels: helm, code

Automated Change
  helm/wapi/Chart.yaml
  helm/wapi/values.yaml
Labels: helm

trivial
  docker/src/app.py
Labels: code

trivial
  docker/src/app.py
Labels: code

trivial
  docker/src/app.py
Labels: code

add exception handling for api requests to weatherapi
  docker/src/app.py
Labels: code

trivial
  docker/src/app.py
Labels: code

trivial
  .pre-commit-config.yaml
Labels: repo

autopep8 changes
  docker/src/app.py
Labels: code

bump version
  .github/workflows/build.yaml
Labels: none

Automated Change
  helm/wapi/Chart.yaml
  helm/wapi/values.yaml
Labels: helm

trivial
  helm/wapi/Chart.yaml
Labels: helm

update pre-commit
  .pre-commit-config.yaml
Labels: repo

update pre-commit
  .pre-commit-config.yaml
Labels: repo

update pre-commit-config
  .github/workflows/labeler.yaml
  .pre-commit-config.yaml
  README.md
  app/.tilt/resources/deployment.yaml
  app/.tilt/resources/namespace.yaml
  app/.tilt/resources/service.yaml
  helm/wapi/templates/secret.yaml
Labels: repo, helm

add codeowners
  CODEOWNERS
Labels: repo
